<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Share
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/settings"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button expand="full" color="originalPrimary" (click)="exportJSON('plan')">EXPORT ALL PLANS</ion-button>

  <ion-button expand="full" color="danger" (click)="exportJSON('template')">EXPORT ALL TEMPLATES</ion-button>

  <ion-fab vertical="center" horizontal="center" slot="fixed">
    <ion-fab-button (click)="android ? openAndroid() : openIOS()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>